{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="main-content">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 left-box">
                    <div class="card single_post">
                        <div class="body">

                            <h3><a href="blog-details.html">{{post.user}}</a></h3>
                            <p class="text-muted">Published {{ post.date_create|date }}</p>
                            <p>{{ post.content }}</p>
                        </div>
                    </div>

                    {% comment %}  {% if user.is_authenticated %}
  <form method="POST">
	{% csrf_token %}
	<div class="form-group">
	  {{ comment_form|crispy }}
	  <button class="btn btn-info" type="submit">Add comment <i class="fas fa-comments"></i></button>
	</div>
  </form>
  {% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
  {% endif %}
  <br><br><br>
    {% if comments %}
  <strong class="text-secondary">{{ object.cantidad_comentarios }} Comment{{ object.cantidad_comentarios|pluralize }}</strong>
  <hr>
  <ul>
    <div class="blog-comment">
				<h3 class="text-success">Comments</h3>
				<ul class="comments">
				<li class="clearfix">
    {% for comment in comments %}
				  <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
				  <div class="post-comments">
				      <p class="meta">{{ comment.date_create }} <a href="#">{{ comment.user }} </a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
{{ comment.content|safe }}
				      <p>
				      </p>
				  </div>
  </ul>
	{% endfor %}
  {% else %}
    <strong class="text-secondary">No comments yet...</strong>
  {% endif %} {% endcomment %}

                    <div class="card">
                            <div class="header">
                                <h2> {% if comments %}
  <strong class="text-secondary">{{ object.cantidad_comentarios }} Comment{{ object.cantidad_comentarios|pluralize }}</strong></h2>
                            </div>
                            <div class="body">
                            {% for comment in comments %}
                                <ul class="comment-reply list-unstyled">
                                    <li class="row clearfix">
                                        <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Awesome Image"></div>
                                        <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                            <h5 class="m-b-0">{{ comment.user }} </h5>
                                            <p>{{ comment.content|safe }}</p>
                                            <ul class="list-inline">
                                                <li><a href="javascript:void(0);">{{ comment.date_create }}</a></li>
                                                <li><a href="javascript:void(0);">Reply</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    	{% endfor %}
  {% else %}
    <strong class="text-secondary">No comments yet...</strong>
  {% endif %}

                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h2>Leave a reply <small>Your email address will not be published. Required fields are marked*</small></h2>
                            </div>
                            <div class="body">
                                <div class="comment-form">
                                   <form method="POST">
	{% csrf_token %}
	<div class="form-group">
	  {{ comment_form|crispy }}
	  <button class="btn btn-info" type="submit">Add comment <i class="fas fa-comments"></i></button>
	</div>
  </form>

</div>
</div>
</div>
</div>
</div>
</div>


  {% endblock content %}
